.loadMv{
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
}
a {
  text-decoration: none;
  color: #333;
}
.artist {
  /*background: #f8f8f8;*/
  margin-top: 70px;

  .singer-btn {
    display: inline-block;
    line-height: 16px;
    align-items: center;
    border-radius: 50px;
    padding: 7px 15px;
    cursor: pointer;
    margin: 5px 0 5px 15px;
    background: #fff;
    color: #333;
  }

  .playAll, .icon-audio-play {
    font-size: 14px;
    color: #fff;
    background: #ff641e;
  }

  .addAll, .collectAll {
    font-size: 14px;
    background: #f0f0f0;
  }
}
.singer-info {
  display: flex;
  padding: 40px 0 40px 150px;
  width: 80%;
  height: auto;

  .singer-avatar {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    overflow: hidden;

    .el-image {
      transition: all 1s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .singer-desc {
    flex: 1;
    padding-left: 50px;
  }

  .singer-author {
    padding-bottom: 16px;
  }

  .singer-name {
    display: inline-block;
    font-size: 40px;
    font-weight: 600;
    line-height: 40px;
    margin-right: 20px;
    vertical-align: top;
  }

  .singer-collect {
    &.active, .icon-collect-active {
      color: #ff641e;
    }
  }

  .singer-brief {
    line-height: 24px;
    color: #999;

    span {
      color: #ff641e;
      cursor: pointer;
    }
  }
}
.singer-main {
  padding: 50px 210px  80px 140px;
  /*background: #fff;*/
}
.singer-hd {
  display: flex;
  font-size: 0;

  em {
    display: inline-block;
    width: 85px;
    font-size: 28px;
    line-height: 28px;
    font-style: normal;
  }

  .singer-tab {
    flex: 1;
  }

  span {
    display: inline-block;
    font-size: 16px;
    margin: 0 24px;
    color: #666;
    cursor: pointer;

    &.active {
      position: relative;
      z-index: 1;
      font-weight: 600;
      color: #000;
      &:after {
        position: absolute;
        content: "";
        left: 0;
        bottom: 1px;
        width: 100%;
        height: 6px;
        background: #ff641e;
        z-index: -1;
      }
    }
  }
}
.artist-desc-main {
  max-height: 500px;
  overflow-y: auto;
}
.introduction {
  dt {
    position: relative;
    line-height: 14px;
    padding-bottom: 10px;
    color: #333;
    font-weight: bold;
    font-size: 14px;

    &::before {
      display: inline-block;
      content: '';
      width: 4px;
      height: 14px;
      margin-right: 10px;
      vertical-align: top;
      border-radius: 4px;
      background: #ff641e;
    }
  }

  dd {
    padding-bottom: 20px;
    font-size: 12px;
    line-height: 25px;
    white-space: pre-line;
    color: #666;
  }
}
.pagination {
  padding: 30px 0;
  text-align: center;
}
