a {
  text-decoration: none;
  color: #333;
}
.faceImg{
  width: 120px;
  height: 120px;
  border-radius: 100%;
  overflow: hidden;
}
.loadArtist {
  display: flex;
  flex-wrap: wrap;
  .item{
    width: 120px;
    margin-right: 70px;
  }
}
.artists_item {
  width: 120px;

  .el-image {
    transition: all .4s linear;
  }

  &:hover {
    .el-image {
      transform: rotateY(180deg);
    }
  }

  .faceImg {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    overflow: hidden;
  }
}
.info {
  text-align: center;

  .name {
    line-height: 28px;
    font-size: 14px;
  }

  .albumSize {
    color: #999;
  }
}
.playlist,.album{
  margin-right: 40px;
  justify-content: flex-start;
}
/*.album{*/
/*    margin-right: 40px;*/
/*}*/
.pagination {
  padding: 30px 0;
  text-align: center;
}
.cover {
  display: flex;
}
.cover-img {
  position: relative;
  width: 200px;
  height: 200px;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: '';
    transform: scale(.95) translateX(5%);
    background: #f0f0f0;
  }
}
.cover-info {
  flex: 1;
  padding-left: 40px;

  .cover-title {
    font-size: 24px;
    font-weight: bold;
  }
}
.cover-author {
  padding: 15px 0 10px;

  .cover-avatar {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    vertical-align: top;
  }

  .cover-name, .cover-date {
    display: inline-block;
    padding: 0 10px;
    line-height: 32px;
  }

  .cover-date {
    color: #999;
  }
}
.cover-tags {
  padding-bottom: 5px;
  line-height: 16px;

  .tag {
    display: inline-block;
    margin-right: 5px;
    font-size: 12px;
    color: #ff641e;
  }
}
.cover-playCount, .cover-collect, .cover-comment {
  display: inline-block;
  padding: 0 20px 5px 0;
  line-height: 16px;
  font-size: 14px;
  color: #999;

  i {
    vertical-align: top;
  }
}
.cover-desc {
  position: relative;

  h5 {
    padding: 10px 0 5px;
    line-height: 20px;
    font-size: 14px;
    color: #333;
  }

  .desc-close {
    position: absolute;
    top: 30px;
    right: 0;
    z-index: 2;
    cursor: pointer;
  }

  p {
    line-height: 22px;
    font-size: 14px;
    color: #999;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
    cursor: pointer;
  }

  .cover-desc-all {
    position: absolute;
    top: 50px;
    left: 10px;
    z-index: 1;
    //width: calc(~'100% - 20px');
    padding: 10px;
    margin: -10px;
    max-height: 250px;
    line-height: 22px;
    font-size: 14px;
    white-space: pre-line;
    font-family: inherit;
    color: #999;
    background: #fff;
    overflow-y: scroll;
    box-shadow: 0 2px 10px 0 rgba(52, 52, 52, 0.1);
  }
}
.song-header {
  display: flex;
  padding: 30px 0 10px;

  h4 {
    flex: 1;
    font-size: 20px;
    line-height: 40px;

    em {
      display: inline-block;
      padding-left: 10px;
      font-size: 12px;
      line-height: 14px;
      font-style: normal;
      font-weight: normal;
      color: #666;
      vertical-align: baseline;
    }
  }

  span {
    display: flex;
    line-height: 16px;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    padding: 7px 20px;
    cursor: pointer;
    margin: 5px 0 5px 15px;
    transition: all .4s;
    background: #f0f0f0;
    color: #333;

    i {
      margin-right: 3px;
    }
  }

  .play-all {
    color: #fff;
    background: #ff641e;

    i {
      color: #fff;
    }
  }

  .collect.active, .collect.active i {
    color: #ff641e;
  }
}
