.search{
  margin-top: 70px;
}
.search-main {
  padding-bottom: 70px;
  margin: 0 100px ;
}
.search-hd {
  padding: 100px 0;
  box-shadow: inset 0 -10px 20px #333;
  background: url('../../assets/img/b.jpg') repeat-x;
  text-align: center;

  .search-inp {

    ::v-deepinput {
      height: 50px;
      border: 0;
      border-radius: 4px 0 0 4px;
    }

    ::v-deep.el-input-group__append {
      background: #fff;
      border: 0;
    }
  }
}
.search-box {
  position: relative;
  width: 50%;
  padding-right: 50px;
  margin: 0 auto;

  .icon-soushuo {
    position: absolute;
    right: 0;
    width: 50px;
    line-height: 40px;
    border-radius: 0 4px 4px 0;
    background: #ff7b1ede;
    cursor: pointer;
  }
}
.search-item {
  border-top: solid 1px #f2f2f2;
  margin: -1px -12px 0;

  h6 {
    font-size: 14px;
    line-height: 36px;
    color: #666;
    padding: 0 12px;
  }

  .list {
    line-height: 36px;
    color: #999;
    padding: 0 12px 0 40px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;

    &:hover {
      color: #fff;
      background: #ff641e;
    }
  }

  &:first-child {
    border: 0;
  }
}
.search-history {
  width: 50%;
  padding: 20px 0;
  margin: 0 auto;
  text-align: left;
  color: #ccc;
}
.search-tab {
  display: flex;
  padding: 20px 0;
  .type{
    margin-left: 200px;
  }

  h2 {
    padding-right: 70px;
    font-size: 24px;
    line-height: 30px;

    em {
      display: inline-block;
      width: 150px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      padding: 0 10px;
    }
  }

  span {
    display: inline-block;
    position: relative;
    font-weight: 300;
    color: #333;
    font-size: 16px;
    margin: 0 30px;
    line-height: 30px;
    cursor: pointer;

    &.active {
      font-weight: 600;
      color: #000;

      &::after {
        position: absolute;
        content: "";
        left: 0;
        bottom: 5px;
        width: 100%;
        height: 6px;
        background: #ff641e;
        z-index: -1;
      }
    }
  }
}
.pagination {
  padding: 30px 0;
  text-align: center;
}
